.pair {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.pairName {
  margin: 0;
  padding: 4px;
  flex-grow: 0;
  flex-shrink: 0;
}

.pairName::after {
  content: ':';
}

.pairValue {
  margin: 0;
  padding: 4px;
  flex-grow: 1;
  flex-shrink: 0;
}
