.button {
  background-color: #3a3a3a;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font: inherit;
  font-size: 12px;
  font-weight: bold;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition-duration: 0.15s;
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;
}

.button:focus {
  box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.5);
  outline: 0;
}

.button:disabled {
  cursor: not-allowed;
}
